<h2>Edit Student</h2>
<p class="meta">Update student information.</p>

<% if @errors && @errors.any? %>
  <div class="flash error">
    <ul style="margin:0; padding-left:18px">
      <% @errors.each do |e| %><li><%= e %></li><% end %>
    </ul>
  </div>
<% end %>

<form action="/students/<%= @student.id %>" method="post">
  <div class="form-row">
    <div>
      <label>Name</label>
      <input type="text" name="name" value="<%= @student.name %>" required>
    </div>
    <div>
      <label>Age</label>
      <input type="number" name="age" value="<%= @student.age %>" min="0">
    </div>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Save</button>
    <a class="btn secondary" href="/students">Cancel</a>
  </div>
</form>